!!! 5
%html
  %head
    %title
      Eggbeard.tv

    %meta{ chartset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', http_equiv: 'X-UA-Compatible' }

    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Lato:400,700|Slackey', 'application'
    %link{ rel: 'shortcut icon', href: 'images/favicon.png' }

    = csrf_meta_tags

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'

  %body
    #header
      %div
        = image_tag('eggbeard-small.png', title: 'The Egg', alt: 'The Egg', id: 'the-egg')

        %h1
          Eggbeard.tv

      %p#intro-text
        "Rest in pepperoni pizza"

    #main
      %div
        = yield

    #navigation
      %div
        %ul
          = social_icon 'twitch', 'Eggbeard on Twitch', 'http://www.twitch.tv/eggbeard'
          = social_icon 'twitter', 'Eggbeard on Twitter', 'https://twitter.com/eggmcbeard'
          = social_icon 'youtube', 'Eggbeard on YouTube', 'https://www.youtube.com/user/xeggbeardx'
